$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #6e6e6e;
$color-white: #ffff;
$color-black: #000000;

$color-light-grey : #8e8e8e;

$grid-width: 110rem;
$gutter-vertical: 80px;
$gutter-horizontal: 60px;